/* - Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)

### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%) */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
}
.div-1 {
  display: flex;
  align-items: center;
  background-color: hsl(217, 19%, 24%);
  height: 170px;
  width: 350px;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding: 50px;
  border-radius: 20px;
}
.img-2 {
  border: 5px solid hsl(150, 100%, 66%);
  border-radius: 10px;
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  bottom: -7%;
}
h5 {
  color: hsl(150, 100%, 66%);
}
p {
  color: hsl(193, 38%, 86%);
  text-align: center;
}
.img-1 {
  margin-top: 20px;
  width: 100%;
}
